@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Open+Sans&display=swap');

:root {
    --primary-color: #4A6FA5;
    --secondary-color: #0A1128;
    --accent1-color: #AD6A6C;
    --accent2-color: #FFCF99;

    --heading-font: Gabarito, serif;
    --paragraph-font: 'Open Sans', serif;

    --nav-background-color: #FFFFFF;
    --nav-link-color: #678d51;
    --nav-hover-link-color: #cdf7ff;
    --nav-hover-background-color: #236d61;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, main, footer {
    max-width: 800px;
    margin: 0 auto;
    padding: 5px;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
	align-items: center;
    border-bottom: 1px solid black;
}
nav {
    text-align: right;
}
.navigation {
	display: flex;
	list-style: none;
}
.navigation a {
	display: block;
	color: navy;
    width: 140px;
	padding: 10px;
    border: 1px solid black;
	text-decoration: none;
    text-align: center;
}
.navigation a:hover {
	color: rgb(0, 76, 218);
	text-decoration: underline;
}
.hero {
    position: relative;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}
.hero h1 {
    position: absolute;
    top: 25px;
    left: 300px;
    color: #ffffff;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero article {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    bottom: 25px;
    margin: 25px;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    background-color: rgb(0, 66, 121);
    color: #FFFFFF;
    opacity: .9;
}
.hero article img {
    width: 120px;
    height: auto;
    margin: 10px;
}
body {
    padding: 10px;
}
h2 {
    margin: 10px;
    text-align: center;
}
.history {
    display: flex;
    align-items: center;
    border-top: 1px solid black;
}
.history img {
    display: block;
    width: 40%;
    height: 30%;
    margin: 10px;
}
.history p {
    padding: 5px;
}
.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-top: 1px solid black;
}
.adventure img {
    display: block;
    width: 100%;
    height: auto;
    padding: 5px;
}
.adventure figcaption {
    text-align: center;
}
footer {
    border-top: 1px solid black;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sociallinks a {
    text-decoration: none;
}
.sociallinks img {
    width: 50px;
    height: auto;
}