@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Open+Sans&display=swap');

:root {
    --primary-color: #4A6FA5;
    --secondary-color: #0A1128;
    --accent1-color: #AD6A6C;
    --accent2-color: #FFCF99;

    --heading-font: Gabarito, serif;
    --paragraph-font: 'Open Sans', serif;

    --nav-background-color: #FFFFFF;
    --nav-link-color: #678d51;
    --nav-hover-link-color: #cdf7ff;
    --nav-hover-background-color: #236d61;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, main, footer {
    max-width: 800px;
    margin: 0 auto;
    padding: 5px;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
	align-items: center;
    border-bottom: 1px solid black;
}
nav {
    text-align: right;
}
.navigation {
	display: flex;
	list-style: none;
}
.navigation a {
	display: block;
	color: navy;
    width: 140px;
	padding: 10px;
    border: 1px solid black;
	text-decoration: none;
    text-align: center;
}
.navigation a:hover {
	color: rgb(0, 76, 218);
	text-decoration: underline;
}
.about-hero {
    position: relative;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}
.about-hero h1 {
    position: absolute;
    top: 25px;
    left: 300px;
    color: #ffffff;
}
.about-hero img {
    display: block;
    width: 100%;
    height: auto;
}
.about-hero article {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    bottom: 25px;
    margin: 25px;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    background-color: rgb(0, 66, 121);
    color: #FFFFFF;
    opacity: .9;
}
.about-hero article img {
    width: 120px;
    height: auto;
    margin: 10px;
}
.home-hero {
    position: relative;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}
.home-hero h1 {
    position: absolute;
    top: 45px;
    left: 120px;
    color: #ffffff;
}
.home-hero img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}
.homepage-section-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: 1px solid black;
    margin-bottom: 1rem;
}
.homepage-section-2 {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    border-top: 1px solid black;
}
.homepage-description-1 {
    display: block;
}
.homepage-section-2 p {
    display: block;
    padding: 1rem;
}
.homepage-section-2 img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 1rem;
}
body {
    padding: 10px;
}
h1 {
    margin: 10px;
    text-align: center;
}
h2 {
    margin: 10px;
    text-align: center;
}
.history {
    display: flex;
    align-items: center;
    border-top: 1px solid black;
}
.history img {
    display: block;
    width: 40%;
    height: 30%;
    margin: 10px;
}
.history p {
    padding: 5px;
}
.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-top: 1px solid black;
}
.adventure img {
    display: block;
    width: 100%;
    height: auto;
    padding: 5px;
}
.adventure figcaption {
    text-align: center;
}
.contact-info {
    border-top: 1px solid black;
    margin-top: 10px;
    text-align: center;
    font-size: larger;
}
.newsletter-form form {
    width: 350px;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}
.newsletter-form form p {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.newsletter-form fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 1rem;
}
.newsletter-form legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3rem;
    text-align: center;
}
.newsletter-form label, input, button {
    font-family: Arial, Helvetica, sans-serif;
}
.newsletter-form input {
    padding: 0.5rem;
    font-size: 1.1rem;
}
.newsletter-form label {
    padding-right: 1rem;
    padding-bottom: 5px;
}
.contact-form form {
    width: 550px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}
.contact-form form p {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.contact-form fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 1rem;
}
.contact-form legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3rem;
    text-align: center;
}
.contact-form label, input, button, textarea {
    font-family: Arial, Helvetica, sans-serif;
}
.contact-form input, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}
.contact-form label {
    padding-right: 1rem;
    padding-bottom: 5px;
}
.contact-form input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}
button {
    margin: 1rem;
    background-color: #0A1128;
    color: white;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}
button:hover {
    background-color: rgb(9, 15, 71);
}
.contact-form-item {
    display: grid;
    align-items: center;
}
.column1 {
    text-align: left;
    grid-template-columns: 1fr;
    margin: 0.5rem 0;
}
.column2 {
    text-align: left;
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}
.trips-description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid black;
}
.trips-description-block-1 {
    display: block;
}
.trips-description-image {
    display: block;
    width: 100%;
    height: auto;
    padding: 1rem;
    padding-left: 4.5rem;
}
.trips-button {
    display: flex;
    justify-content: center;
}
.trips-button a {
    display: block;
    text-decoration: none;
    margin: 1rem;
    background-color: #0A1128;
    color: white;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.0rem;
}
.trips-button a:hover {
    background-color: rgb(9, 15, 71);
}
.trips-options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.trips-options h3 {
    text-align: center;
    padding-top: 1rem;
}
.trips-options img {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 1rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
.trips-options figcaption {
    text-align: center;
    padding-top: 1rem;
}
footer {
    border-top: 1px solid black;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sociallinks a {
    text-decoration: none;
}
.sociallinks img {
    width: 50px;
    height: auto;
}